# Artificial Neural Network

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [3]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Encoding categorical data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), [1,2])],    # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                         # Leave the rest of the columns untouched
)
X = ct.fit_transform(X)
X = X.astype(np.float64)
# Getting rid of dummy variable
X = np.delete(X,0,1)
X = np.delete(X,3,1)

In [5]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [6]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the third hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 25)

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W0211 16:51:18.183464 35484 deprecation_wrapper.py:119] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0211 16:51:18.550292 35484 deprecation_wrapper.py:119] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0211 16:51:18.559267 35484 deprecation_wrapper.py:119] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0211 16:51:18.723682 35484 deprecation_wrapper.py:119] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0211 16:51:19.007965 35484 deprecation_wrapper.py:119] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0211 16:51:19.040602 35484 deprecation.py:323] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0211 16:51:19.633225 35484 deprecation_wrapper.py:119] From C:\Users\sourabh.suman\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/25
8000/8000 [==============================] - 4s 521us/step - loss: 0.4908 - acc: 0.7960
Epoch 2/25
8000/8000 [==============================] - 2s 268us/step - loss: 0.4286 - acc: 0.7960
Epoch 3/25
8000/8000 [==============================] - 2s 266us/step - loss: 0.4223 - acc: 0.7960
Epoch 4/25
8000/8000 [==============================] - 2s 295us/step - loss: 0.4183 - acc: 0.8222
Epoch 5/25
8000/8000 [==============================] - 2s 298us/step - loss: 0.4164 - acc: 0.8275
Epoch 6/25
8000/8000 [==============================] - 2s 298us/step - loss: 0.4143 - acc: 0.8299
Epoch 7/25
8000/8000 [==============================] - 2s 284us/step - loss: 0.4131 - acc: 0.8314
Epoch 8/25
8000/8000 [==============================] - 4s 555us/step - loss: 0.4113 - acc: 0.8325
Epoch 9/25
8000/8000 [==============================] - 5s 586us/step - loss: 0.4110 - acc: 0.8335
Epoch 10/25
8000/8000 [==============================] - 4s 439us/step - loss: 0.4095 - acc: 0.8322
Epoch 11/25
8000/8000 [==============================] - 5s 643us/step - loss: 0.4089 - acc: 0.8350
Epoch 12/25
8000/8000 [==============================] - 5s 590us/step - loss: 0.4082 - acc: 0.8351
Epoch 13/25
8000/8000 [==============================] - 3s 412us/step - loss: 0.4076 - acc: 0.8335
Epoch 14/25
8000/8000 [==============================] - 5s 564us/step - loss: 0.4076 - acc: 0.8346
Epoch 15/25
8000/8000 [==============================] - 5s 621us/step - loss: 0.4066 - acc: 0.8331
Epoch 16/25
8000/8000 [==============================] - 4s 542us/step - loss: 0.4062 - acc: 0.8345
Epoch 17/25
8000/8000 [==============================] - 5s 593us/step - loss: 0.4060 - acc: 0.8346
Epoch 18/25
8000/8000 [==============================] - 6s 761us/step - loss: 0.4052 - acc: 0.8354
Epoch 19/25
8000/8000 [==============================] - 4s 439us/step - loss: 0.4051 - acc: 0.8339
Epoch 20/25
8000/8000 [==============================] - 4s 483us/step - loss: 0.4051 - acc: 0.8336
Epoch 21/25
8000/8000 [==============================] - 4s 457us/step - loss: 0.4048 - acc: 0.8341
Epoch 22/25
8000/8000 [==============================] - 3s 319us/step - loss: 0.4047 - acc: 0.8355
Epoch 23/25
8000/8000 [==============================] - 2s 292us/step - loss: 0.4040 - acc: 0.8341
Epoch 24/25
8000/8000 [==============================] - 3s 333us/step - loss: 0.4042 - acc: 0.8350
Epoch 25/25
8000/8000 [==============================] - 3s 359us/step - loss: 0.4039 - acc: 0.8345

In [8]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [9]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [10]:
tn, fp, fn, tp = cm.ravel()

In [11]:
print("True positive : ", tp)
print("True negative : ", tn)
print("False positive:  ", fp)
print("False negative:  ", fn)

True positive :  122
True negative :  1558
False positive:   37
False negative:   283

In [12]:
print("Accuracy of the Naive Bayes model = ", (tp+tn)/(tp+tn+fp+fn)*100,"%")

Accuracy of the Naive Bayes model =  84.0 %